<div class="container more-container">
    <h3>{{ site.publications_title | default: "Publications" }}</h3>
    {% for publication in site.data.publications %}
        <div class="row clearfix experience">    
          <div class="col-md-12">
                <p>
                    <b> {{ publication.title }}</b>
                    {{ publication.authors }}
                    <i> {{ publication.venue }} </i>
                    {%- if publication.epfl-link -%}
                      {% include a.html href=publication.epfl-link class="project-link" %} [Detailed Record] </a>
                    {%- endif -%}

                    {%- if publication.publisher-link -%}
                      {% include a.html href=publication.publisher-link class="project-link" %} [View at Publisher] </a>
                    {%- endif -%}
                    
                    
                </p>
                
                <!-- {{ publication.title | strip | markdownify }} -->
                
                <!-- {{ publication.abstract | strip | markdownify }}             -->
          </div>
        </div>
    {% endfor %}
  </div>
  

<!-- <div class="container projects-container">
    <h3>{{ site.publications_title | default: "Publications" }}</h3>
    {% for publication in site.data.publications %}
      <div class="row clearfix project">
        <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 left-column">
          <h4>{{ publication.title }}</h4>
          {%- if publication.link -%}
            {% include a.html href=project.link class="project-link" %}{{ project.link }}</a>
          {%- endif -%}
          {%- if publication.github -%}
            <p class="no-print">
              <a href="https://github.com/{{ project.github }}" target="_blank">
                <i class="fa fa-github" title="{{ project.name }} Github link"></i>
              </a>
            </p>
          {%- endif -%}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
          {%- if publication.quote -%}
            <p class="quote">{{ project.quote }}</p>
          {%- endif -%}
          {{ publication.description | strip | markdownify }}
        </div>
      </div>
    {% endfor %}
  </div> -->


  <!-- <b> {{ publication.title | strip | markdownify }}</b>

            <p>{{ publication.authors }}</p>
            {{ publication.venue | strip | markdownify }}
            
            {{ publication.abstract | strip | markdownify }} -->