<div class="container more-container">
    <h3>{{ site.publications_title | default: "Publications" }}</h3>
    {% for publication in site.data.publications %}
        <div class="row clearfix experience">
          <div class="col-md-12">
                <p>
                    <b> {{ publication.title }}</b>
                    {{ publication.authors }}
                    <i> {{ publication.venue }} </i>
                    {%- if publication.epfl-link -%}
                      {% include a.html href=publication.epfl-link class="project-link" %} [Detailed Record] </a>
                    {%- endif -%}

                    {%- if publication.publisher-link -%}
                      {% include a.html href=publication.publisher-link class="project-link" %} [View at Publisher] </a>
                    {%- endif -%}
                </p>
                <!-- {{ publication.title | strip | markdownify }} -->
                <!-- {{ publication.abstract | strip | markdownify }}             -->
          </div>
        </div>
    {% endfor %}
  </div>